<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>सूक्तम्</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<style>
        textarea {
            resize: none;
            text-align: justify;
            vertical-align: center;
            text-align-last: center;
        }

        .ta_fs {
            font-size: 20px;
            color: #ff0000;
        }

        p {
            text-align: center;
        }

        h1 {
            text-align: center;
        }


</style>

<body>
<h1>Pronunciation Scorer</h1>
<p>
    <button id="start_button" disabled>Start recording</button>
    <button id="stop_button" disabled>Stop recording</button>
    <button id="random_button">Get a Random Phrase</button>
</p>

<p>
    <label for="sanskrit"></label><textarea readonly id="sanskrit" rows="1" cols="25">Sanskrit</textarea>
    <label for="english"></label><textarea readonly id="english" rows="1" cols="25">English</textarea>
</p>

<p> Your Audio:
<p>
    <audio controls id="recorded_audio"></audio>
</p>

<p> Prompt:
<p>
    <audio controls id="prompted_audio"></audio>
</p>

<p>
<p>
    <button id="score_button">Get my score!</button>
<p>
    <label for="score"></label><textarea readonly class="ta_fs" id="score" rows="5" cols="10">Score</textarea>
</p>

        <p>
        <p>
            <button id="score_get">Get my score!</button>
        <p>
            <label for="score"></label><textarea readonly class="ta_fs" id="score" rows="5" cols="10">Score</textarea>
        </p>


</body>

<script type="text/javascript">
        let start_button_element = document.getElementById("start_button");
        let stop_button_element = document.getElementById("stop_button");
        let score_button_element = document.getElementById("score_button");
        let random_button_element = document.getElementById("random_button");
        let prompted_audio_element = document.getElementById("prompted_audio");
        let recorded_audio_element = document.getElementById("recorded_audio");

        let audio_name = '';
        let rec = null;
        let audioChunks = []

        score_button_element.onclick = () => {
            $.ajax({
                type: 'GET',
                url: '/get_score/' + audio_name + "/",
                success: function (result) {
                    $('#score').val(result);
                }
            });
        };


        stop_button_element.onclick = () => {
            start_button_element.disabled = false;
            stop_button_element.disabled = true;
            rec.stop();
        };

        start_button_element.onclick = () => {
            start_button_element.disabled = true;
            stop_button_element.disabled = false;
            audioChunks = [];
            rec.start();
        };

        random_button_element.onclick = () => {
            start_button_element.disabled = false;

            $.ajax(
                    {
                        type: 'GET',
                        url: '/get_random_line',
                        success: function (result) {
                            const list = result.split(",");
                            $('#sanskrit').val(list[2]);
                            $('#english').val(list[1]);
                            audio_name = list[0].substring(list[0].indexOf("/") + 1, list[0].lastIndexOf("."));
                          
                            fetch('/get_random_audio/' + audio_name)
                                    .then(res => {
                                        return res.body.getReader().read().then(result => {
                                            return result
                                        });
                                    })
                                    .then(data => {
                                        const blob = new Blob([data.value], {type: "audio/wav"});

                                        prompted_audio_element.src = URL.createObjectURL(blob);
                                        prompted_audio_element.controls = true;
                                        prompted_audio_element.autoplay = true;
                                    });
                        }
                    }
            );
        };

        navigator.mediaDevices
                .getUserMedia({audio: true})
                .then(stream => {
                    //create new recorder object
                    rec = new MediaRecorder(stream);

                    //stream data from recorder to list
                    rec.ondataavailable = e => {
                        audioChunks.push(e.data);
                        //once recorder is done send data to server
                        if (rec.state === "inactive") {
                            let blob = new Blob(audioChunks, {type: 'audio/wav'});

                            //enabled audio playback
                            recorded_audio_element.src = URL.createObjectURL(blob);
                            recorded_audio_element.controls = true;
                            recorded_audio_element.autoplay = false;

                            //create file to send to server
                            const form = new FormData();
                            form.append('file', blob, audio_name + ".wav");
                            $.ajax({
                                type: 'POST',
                                url: '/save-record',
                                data: form,
                                cache: false,
                                processData: false,
                                contentType: false,
                                success: function () {
                                    console.log("Data Received!");
                                }
                            });
                        }
                    }
                });

</script>

</html>
